body {
	background-image: url('..//img/021.jpg');
	background-attachment: fixed;
}

.container {
	
	background-attachment: fixed;
	background-size: cover;
	background-position: 1200px;
	color: #eaeaea;
	padding-top: 3rem;
	
}

h2 {
	color: #eaeaea;
}


